<!DOCTYPE html>
<html>

<%-include("./partials/head.ejs",{"css":["header.ejs","footer.ejs"]})%>

    <head>
        <link rel="stylesheet" type="text/CSS" href="/css/stylesHome.css" />
    </head>

    <body>
        <%-include("./partials/header.ejs")%>
            <main>
                <div class="Hero-banner">
                    <img src="./imagenes png/Banner_1_PALAS.webp" alt="palas" class="imagenHero" />
                </div>
                <div class="productos">
                    <h2 class="tituloProductos">
                        Productos
                    </h2>
                    <article class="Articulo">
                        <img src="./imagenes png/adidas metalbone.png" alt="imagen de articulo" class="imagenPaleta" />
                        <h5 class="nombrePaleta">Adidas Metalbone HRD 3.2</h5>
                        <div class="stockPrecio">
                            <p class="stock">Stock:XX</p>
                            <p class="precio">$123456</p>
                        </div>
                    </article>
                    <div class="botonera">
                        <a href="#" class="botonCompra">
                            <img src="./imagenes png/cart.png" alt="cart" width="15" height="15"></a>
                        <a href="#" class="botonCompra">Mas</a>
                    </div>
                    <article class="Articulo">
                        <img src="./imagenes png/pack-at2-genius-ltd-2023-agustin-tapia-limited-edition-992684.webp"
                            alt="imagen de articulo" class="imagenPaleta" />
                        <h5 class="nombrePaleta">Nox AT.2 Genius LTD 2023</h5>
                        <div class="stockPrecio">
                            <p class="stock">Stock:XX</p>
                            <p class="precio">$123456</p>
                        </div>
                    </article>
                    <div class="botonera">
                        <a href="#" class="botonCompra">
                            <img src="./imagenes png/cart.png" alt="cart" width="15" height="15"></a>
                        <a href="#" class="botonCompra">Mas</a>
                    </div>
                </div>
            </main>
            <%-include("./partials/footer.ejs")%>

    </body>

</html>