<!DOCTYPE html>
<html>

<%-include("./partials/head.ejs",{"css":["header.ejs","footer.ejs"]})%>

    <head>
        <link rel="stylesheet" type="text/CSS" href="/css/stylesProdDetail.css" />
    </head>

    <body>
        <%-include("./partials/header.ejs")%>
            <main class="detail">
                <section class="productoElegido">
                    <div class="imagenesElegido">
                        <img src="./imagenes png/adidas metalbone.png" alt="main" class="mainImage" width="200"
                            height="200" />
                        <div class="sideImages">
                            <img src="./imagenes png/adidas-metalbone-side.png" alt="side" class="side1" width="100"
                                height="100" />
                            <img src="./imagenes png/adidas-metalbone-zoom.png" alt="zoom" class="side2" width="100"
                                height="100" />
                        </div>
                    </div>
                </section>
                <section class="description">
                    <div class="descr1">
                        <p>Marca de la paleta:</p>
                        <p>Peso:</p>
                        <p>Forma:</p>
                    </div>
                    <div class="descr2">
                        <p>Nivel de la paleta:</p>
                        <p>Balance:</p>
                        <p class="precio">Precio: $123456</p>
                    </div>
                </section>
                <section class="botonera">
                    <a href="#" class="botonCompra">
                        <img src="./imagenes png/cart.png" alt="cart" width="15" height="15"></a>
                </section>
            </main>
            <%-include("./partials/footer.ejs")%>
    </body>

</html>